<% content_for :top_content do %>
  <div class="jumbotron ver">
    <div class="container">
      <h1>CHCMS</h1>
    </div>
	  <i class="fa fa-comment fa-5x fa-lg"></i>
	  <i class="fa fa-calendar-alt fa-5x fa-lg"></i>
	  <span><span class="label label-danger pull-left"><%=unread_messages_count%></span><i class="fas fa-user fa-5x fa-lg"></i></span>
  </div>
  <%= pie_chart Resident.total %>

<%= column_chart User.by_gender,
  title: "Total count of residents",
  colors: ['brown'],
  library: {
    tooltip: {
      pointFormat: 'Count by gender'
    }
  }
%>
<br>
<br>
<br>
<% end%>
