<div class="footer">
	&copy CHCMS | Copyright Care Home Central Management System | 
	<i class="fa fa-comment"></i>
    <i class="fa fa-calendar-alt"></i>
    <i class="fas fa-user"></i> | Badar Khan
</div>